{% load static %}

<!DOCTYPE html>
<html>
<head>
<title>James Gikunju Kibugu - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of James Gikunju Kibugu."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="{% static 'images/headshot.jpg' %}" alt="James Kibugu" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">JAMES GIKUNJU</h1>
			<h2 class="quickFade delayThree"Data Scientist</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>Email: <a href="mailto:james.kibugu@gmail.com" target="_blank">james.kibugu@gmail.com</a></li>
				<li>Github: <a href="https://github.com/Kibugu">https://github.com/Kibugu</a></li>
				<li>Linkedin: <a href="https://www.linkedin.com/in/gikunju-kibugu-b22b0453/">https://www.linkedin.com/in/gikunju-kibugu-b22b0453/</a></li>
				<li>Address: P. O Box 33399 - 00600 Nairobi</li>
				<li>Mobile: 0721891111</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Objective</h1>
				</div>
				
				<div class="sectionContent">
					<p>I am an analyst and data scientist with a 6 years’ experience in the following areas: - product pricing, product review, market research, data analysis, dashboard, report generation, visualization and report automation using the following approached and programming language in data Science, Machine Learning, SQL, Python, R Microsoft Excel, VBA macro. In the 6 years I have improved system pricing model improved the customer service and experience in the insurance industry mainly corporate business. I seek to advance my analytical prowess in your esteem organization in Excellent in business analytics, development of modeling techniques and operational improvement processes, in this am confident that my experience and expertise will be a perfect fit for your company.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Corporate Business - Pricing Analyst - Old Mutual Life Assurance Ltd.</h2>
					<p class="subDetails">August 2015 - Present</p>
					<p>• New business pricing and monthly review of existing business terms review.
					<p>• Risk assessment and due diligence of new business.</p>
					<p>• Market research on industry performance, new trends benchmark performance Business analytics and reporting both internal and external stakeholders.</p>
					<p>• Digital projects conceptualization, scoping and documentations.</p>
					<p>• Building dashboard for the sales reports, closure rates and experience analysis in claims.</p>
					<p>• Analyze and identify trends for customer demands and build model optimizes business closure rate.</p>
					<p>• Product development, review and pricing of corporate life products for profitable and revenue growth.</p>
					<p>• Reinsurance negotiations on the treaty for cushion against risks and profitability.</p>
					<p>• Reinsurance negotiations on the treaty for cushion against risks and profitability.</p>
					<p>• Build and maintaining pricing database and dashboard for data driven decision making.</p>
					<p>• Ensure all external and internal compliance processes are followed always in respect to pricing.</p>
				</article>
				<article>
					<h2>Achievements</h2>
                     <p> • The growth of Group life emerged 1st runner up in AKI Group life Award.</p>
                     <p>• Due to prudent pricing, we emerged the best loss ratio category in AKI group life awards.</p>
					 <p>• Emerged 1st runner up in the Innovation award of AKI group life due to the new product of Group Critical illness.</p>
					 <p>• Introduced Individual loan and mortgage, Keyman calculator that reduce the time around for 8 hrs to 1 hr.</p>
					 <p>• Introduce a customer satisfaction survey to measure the level of service which helps us to achieve a “Waao” experience in the customer journey.</p>

				</article>
				
				<article>
					<h2>Corporate Business Analyst – Old Mutual Life Assurance Ltd</h2>
					<p class="subDetails">May 2014 - Aug 2015</p>
					<p> • Creating a detailed business analysis, outlining problems, opportunities and solutions for a   business. </p>
					<p>	• Budgeting and forecasting.</p>
					<p>	• Planning and monitoring.</p>
					<p>	• Variance Analysis.</p>
					<p> • Reporting to various department.</p>
				    <p> • Defining business requirements and reporting them back to stakeholders.</p>
				</article>

			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>Python, R gui, Numpy, Pandas,scikit-learn</li>
					<li>Heroko, django, shiny</li>
					<li>Deeplearning, NLP, CNN  tensorflow, pytorch</li>
					<li>SQL, AWS</li>
					<li>GIT</li>
					<li>Power BI, Tableau</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>University of Nairobi</h2>
					<p class="subDetails">Master of Science in Social Statistics</p>
					<p class="subDetails">Sept 2018 - Dec 2021</p>
					<p> Ongoing </p>
				</article>
				
				<article>
					<h2>Jomo Kenyatta University of Agriculture and Technology</h2>
					<p class="subDetails">Bachelor of Science in Actuarial Science</p>
					<p class="subDetails">Sept 2010 - Dec 2013 </p>
					<p> Attained: Second Class Upper Division </p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		<section>
			<div class="sectionTitle">
				<h1>Professional Qualification</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Actuarial Qualification</h2>
					<p class="subDetails">Core Technical 1 - Financial Mathematics - Passed</p>
					<p class="subDetails">Core Technical 2 - Statistics and Probability - Passed</p>
				</article>
				
				<article>
					<h2>Data analysis, Data Science, Machine Learning, Deeplearning,Artificial Intelligence</h2>
					<p> - Kenya Hack - Tanzania Tourism Prediction Challenge – 5th Position out 43 participants. – Hackathon Zindi.</p>
					<p> - Deep learning AI Tensorflow Developer – Coursera </p>
					<p> - Artificial Intelligence using python – Master Class Alliance4ai Learning </p>
                    <p> - Modelling Infectious Diseases using R: Theory and Practice - Sponsored by VLIR-UOS and supported by the eR-Biostat initiative</p>
                    <p> - Data Mining using R: Theory and Practice - Sponsored by VLIR-UOS and supported by the eR-Biostat initiative.</p>
                    <p>- Bayesian Data analytics using R: Theory and Practice - Sponsored by VLIR-UOS and supported by the eR-Biostat initiative</p>

				</article>
			</div>
			<div class="clear"></div>
		</section>
		<section>
			<div class="sectionTitle">
				<h1>Hobbies </h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>Running</li>
					<li>Cycling</li>
					<li>Hiking</li>
					<li>Darts</li>
					<li>Sudoku</li>
					<li>Volleyball</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>